  *{
    padding: 0;
    margin: 0;
  }
  body{
    background-color: white;
    font-family: 'ABeeZee', sans-serif;
  }
  .image{
    margin: 0px;
    padding: 0px;
    width: 10%;
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px;

  }
  .imageLain{
    margin: 0px;
    padding: 0px;
    width: 5%;
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 10px;
  }
  .row{
    padding: 20vw 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 5px 0;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    flex-direction: column;
  }
  h1{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: blue;
  }
  h3{
    font-size: 40px;
    margin: 5px;
    text-align: center;
  }
  h4{
    margin: 4px 0;
    font-size: 40px;
    text-align: center;

  }
  button{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    border-radius: 5px;
    width: 80px;
    height: 120px;
    color: #ffffff; /* white */
    background-color: #0066CC;

  }
  .lulus{
    margin: 50px;
    position: absolute;
    left: 30%;
    border: none;

  }
  .tidakLulus{
    margin: 50px;
    position: absolute;
    right: 30%;
    border: none;
  }
  a.Result{
    width: 150px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;

  }
  a.inspirasi{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: purple;
    font-weight: bolder;
    text-decoration: none;

  }
  .nomor{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    font-size: 19px;
  }
  #number{
    color: #black;

  }
  #num{
    text-decoration: none;
    color: purple;
  }
  p{
    margin: 7px;
    padding: 2px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: bolder;
  }
  #k1{
    background-color: rgba(218, 165, 32,0.7);
  }
  #k2{
    background-color: rgba(250, 69, 1,0.5);
  }
  #k3{
    background-color: rgba(244, 164, 95, 0.8);
  }
  #k4{
    background-color: rgba(238, 130, 238, 0.7);
  }
  /* Menyenangkan */
  #k5{
    background-color: rgb(250, 69, 1);
  }
  #k6{
    background-color: rgb(253, 215, 3);
  }
  /* Menenangkan */
  #k7{
    background-color: rgb(127, 255, 1);
  }
  #k8{
    background-color: rgb(43, 191, 254);
  }
  #k9{
    background-color: rgba(138, 43, 226, 0.8);
  }
